$background: #1e1e1e;
$borderColor: #4D4D4D;
$borderRadius: 12px;
$fontColor: #ffffff;
$secondaryFontColor: #4D4D4D;
$lightest: #ffffff;
$formBackgroud: #3C3C3C;
$fontFamily: 'SFProDisplayReqular';
$cardBackgroud: #26262680;
$smallBorderRadius: 6px;